<!DOCTYPE html>
<html>
    <head>
        <title>The Monopoly Bank - Game</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>
        <div>
            <div class="topright">
                <a href="/logout" style="text-decoration: none;"><p style="<%= "display: none;" if !logged_in? %>"><%= "logged in as #{current_user.name}" if current_user %></p></a>
            </div>
            <div class="topright-under">
                <p style="<%= "display: none;" if !logged_in? %>"><%= "log out" %></p>
            </div>
        </div>

        <div id="users-in-game" class="topleft">
            <div>
                <h3>Users In Game</h3>
                <ul>
                <% @users.each do |user| %>
                    <li><p><a href="/users/<%= user.id %>"><p><%= user.name %></a> - $<%= user.balance %></p></li>
                <% end %>
                </ul>
            </div>
        </div>

        <div class="center-block" id="info-block">
            <div>
                <h3>Menu</h3>
                <p><a href="/payments/send">Send Money</a></p>
                <p><a href="/auctions/new">Start Auction</a></p>
                <p><a href="/properties">Properties</a></p>
                <p><a href="/settings">Settings</a></p>
            </div>
        </div>

        <div class="center-block" id="recent-payments">
            <div>
                <h3>Recent Payments</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Payer</th>
                        <th>Payee</th>
                        <th>Property</th>
                        <th >Description</th>
                    </tr>
                    </thead>
                    <tbody>
                <% if !@payments.nil? && !@payments.empty? %>
                    <p><% @payments.each do |payment| %>
                    <tr>
                        <td><%= payment.created_at.ctime %></td>
                        <td>$<%= payment.amount %></td>
                        <td><%= payment.users[1].name %></td>
                        <td><%= payment.users[0].name %></td>
                        <td><%= payment.property.name unless payment.property.nil? %></td>
                        <td><%= payment.description %></td>
                    </tr>
                    <% end %>
                <% else %>
                    <p>No payments have been made</p>
                <% end %>
                </tbody>
                </table>
            </div>
        </div>
    </body>
</html>