<!DOCTYPE html>
<html>
    <head>
        <title>The Monopoly Bank - Settings</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>

        <header>
            <div class="nav">
                <ul style="list-style: none; text-align: center;">
                    <li class="game-home"><a href="/game">Game Home</a></li>
                    <li class="send-money"><a href="/payments/send">Send Money</a></li>
                    <li class="auction"><a href="/auctions/new">Auction</a></li>
                    <li class="payments"><a href="/payments">Payments</a></li>
                    <li class="properties"><a href="/properties">View Properties</a></li>
                    <li class="settings"><a href="/settings">Settings</a></li>
                </ul>
            </div>
        </header>

        <div>
            <div class="topright">
                <a href="/logout" style="text-decoration: none;"><p style="<%= "display: none;" if !logged_in? %>"><%= "Logged in" %></p></a>
            </div>
            <div class="topright-under">
                <p style="<%= "display: none;" if !logged_in? %>"><%= "log out" %></p>
            </div>
        </div>

        <div id="users-in-game" class="topleft">
                <div>
                    <h3>Users In Game</h3>
                    <ul>
                        <% @users.each do |user| %>
                            <li><p><a href="/users/<%= user.id %>"><p><%= user.name %></a> - $<%= user.balance %></p></li>
                        <% end %>
                    </ul>
                </div>
            </div>

        <div id="settings-info" class="center-block">
            <h1>Change Settings</h1>
            <h2 style="color:red;">ONLY CHANGE BEFORE STARTING GAME</h2>
            <br>
            <form action="/settings" method="post">
                <input type="hidden" name="_method" value="patch">

                <label for="balance">Starting Balance:</label>
                <input id="balance" type="number" name="settings[balance]" value="<%= User.last.balance %>" min="0" step="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                <br><br>
                <p style="color: red;"><%= "#{flash[:error]} <br>" if flash.has?(:error) %></p>
                <input type="submit" value="Submit">
            </form>
            </div>
        </div>
    </body>
</html>