<!DOCTYPE html>
<html>
    <head>
        <title>The Monopoly Bank - Send Money</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>

        <header>
            <div class="nav">
                <ul style="list-style: none; text-align: center;">
                    <li class="game-home"><a href="/game">Game Home</a></li>
                    <li class="send-money"><a href="/payments/send">Send Money</a></li>
                    <li class="auction"><a href="/auctions/new">Auction</a></li>
                    <li class="payments"><a href="/payments">Payments</a></li>
                    <li class="properties"><a href="/properties">View Properties</a></li>
                </ul>
            </div>
        </header>

        <div>
            <div class="topright">
                <a href="/logout" style="text-decoration: none;"><p style="<%= "display: none;" if !logged_in? %>"><%= "Logged in" %></p></a>
            </div>
            <div class="topright-under">
                <p style="<%= "display: none;" if !logged_in? %>"><%= "log out" %></p>
            </div>
        </div>

        <div id="user-info" class="center-block">
            <div>

                <div id="users-in-game" class="topleft">
                    <div>
                        <h3>Users In Game</h3>
                        <ul>
                            <% @users.each do |user| %>
                                <li><p><a href="/users/<%= user.id %>"><p><%= user.name %></a> - $<%= user.balance %></p></li>
                            <% end %>
                        </ul>
                    </div>
                 </div>

                <h1>Start Auction</h1>
                <br>
                <form action="/auctions/new" method="post">
                    <label for="property_name">Property Name:</label>
                    <input id="property_name" type="text" name="property[name]">
                    <br><br>
                    <p style="color: red;"><%= "#{flash[:error]} <br>" if flash.has?(:error) %></p>
                    <input type="submit" value="Start">
                </form>
            </div>

            <div id="payment-instructions">
                <h2>Instructions</h2>
                <p>1. Enter the property name and click 'start'.</p>
                <p>2. Enter the amount in dollars you would like to bid.</p>
                <p>3. Wait for everyone else to bid. Refresh the page to see who you are waiting on and to check if you've won.</p>
                <p>4. When the auction is over you will be notified whether you won or not.</p>
            </div>
        </div>
    </body>
</html>