<!DOCTYPE html>
<html>
    <head>
        <title>The Monopoly Bank - Send Money</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>

        <header>
            <div class="nav">
                <ul style="list-style: none; text-align: center;">
                    <li class="game-home"><a href="/game">Game Home</a></li>
                    <li class="send-money"><a href="/payments/send">Send Money</a></li>
                    <li class="auction"><a href="/auctions/new">Auction</a></li>
                    <li class="payments"><a href="/payments">Payments</a></li>
                    <li class="properties"><a href="/properties">View Properties</a></li>
                </ul>
            </div>
        </header>

        <div>
            <div class="topright">
                <a href="/logout" style="text-decoration: none;"><p style="<%= "display: none;" if !logged_in? %>"><%= "Logged in" %></p></a>
            </div>
            <div class="topright-under">
                <p style="<%= "display: none;" if !logged_in? %>"><%= "log out" %></p>
            </div>
        </div>

        <div id="users-in-game" class="topleft">
                    <div>
                        <h3>Users In Game</h3>
                        <ul>
                            <% @users.each do |user| %>
                                <li><p><a href="/users/<%= user.id %>"><p><%= user.name %></a> - $<%= user.balance %></p></li>
                            <% end %>
                        </ul>
                    </div>
                </div>

        <div id="auction-info" class="center-block">
            <div>
                <h1>Bid on <%= Property.find_by(auction: @auction).name %></h1>
                <br>
                <form action="/auctions/<%= @auction.id %>" method="post">
                    <label for="bid">Bid Amount:</label>
                    <input id="bid" type="number" name="bid" min="0" step="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                    <br><br>
                    <p style="color: red;"><%= "#{flash[:error]} <br>" if flash.has?(:error) %></p>
                    <input type="submit" value="Submit">
                </form>
            </div>

            <div id="bidding-information">
                <h2>Bidding Information</h2>
                <p id="auction-cancel"><a href="/auctions/<%= @auction.id %>/delete">Cancel Auction</a></p>
                <div id="waiting-on">
                    <h3>Waiting on</h3>
                    <% if !@waiting_on.empty? %>
                        <% @waiting_on.each do |user| %>
                            <p><%= user.name %> (<%= user.username %>)</p>
                        <% end %>  
                    <% else %>
                        Not waiting on anyone
                    <% end %>
                </div>
                <div id="user-bid">
                    <h3>Your Bid</h3>
                    <p>$<%= @bidder ? @bidder.bid : "0" %></p>
                </div>
            </div>
        </div>
    </body>
</html>