<!DOCTYPE html>
<html>
    <head>
        <title>The Monopoly Bank - <%= @user.name %>'s Profile</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="nav">
                <ul style="list-style: none; text-align: center;">
                    <li class="game-home"><a href="/game">Game Home</a></li>
                    <li class="send-money"><a href="/payments/send">Send Money</a></li>
                    <li class="auction"><a href="/auctions/new">Auction</a></li>
                    <li class="payments"><a href="/payments">Payments</a></li>
                    <li class="properties"><a href="/properties">View Properties</a></li>
                </ul>
            </div>
        </header>

        <div>
            <div class="topright">
                <a href="/logout" style="text-decoration: none;"><p style="<%= "display: none;" if !logged_in? %>"><%= "logged in" %></p></a>
            </div>
            <div class="topright-under">
                <p style="<%= "display: none;" if !logged_in? %>"><%= "log out" %></p>
            </div>
        </div>

        <div id="user-info" class="center-block">
            <div>
                <h1><%= @user.name %> (<%= @user.username %>)</h1>
                <hr width="50%">

                <h2>Balance: $<%= @user.balance %></h2>
                <h2>Account Number: <%= @user.account_number %></h2>
                <br>
                <h2>Payments</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Payer</th>
                        <th>Payee</th>
                        <th>Property</th>
                        <th >Description</th>
                    </tr>
                    </thead>
                    <tbody>
                <% if !@user.payments.nil? && !@user.payments.empty? %>
                    <p><% @user.payments.reverse.each do |payment| %>
                    <tr>
                        <td><%= payment.created_at.ctime %></td>
                        <td>$<%= payment.amount %></td>
                        <td><%= payment.users[1].name %></td>
                        <td><%= payment.users[0].name %></td>
                        <td><%= payment.property.name unless payment.property.nil? %></td>
                        <td><%= payment.description %></td>
                    </tr>
                    <% end %>
                <% else %>
                    <tr>
                        <td colspan="6">No payments have been made</td>
                    </tr>
                <% end %>
                </tbody>
                </table>
                <br>
                <h2>Properties</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Last Updated</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Payments</th>
                    </tr>
                    </thead>
                    <tbody>
                <% if !@user.properties.nil? && !@user.properties.empty? %>
                    <p><% @user.properties.reverse.each do |property| %>
                    <tr>
                        <td><%= property.updated_at.ctime %></td>
                        <td><%= property.name %></td>
                        <td>$<%= property.price %></td>
                        <td><a href="/properties/<%= property.id %>/payments">LINK</a></td>
                    </tr>
                    <% end %>
                <% else %>
                <tr>
                    <td colspan="4">No properties are owned</td>
                </tr>
                <% end %>
                </tbody>
                </table>
            </div>
        </div>
    </body>
</html>