<!DOCTYPE html>
<html>
    <head>
        <title>The Monopoly Bank - Properties</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>

        <header>
            <div class="nav">
                <ul style="list-style: none; text-align: center;">
                    <li class="game-home"><a href="/game">Game Home</a></li>
                    <li class="send-money"><a href="/payments/send">Send Money</a></li>
                    <li class="auction"><a href="/auctions/new">Auction</a></li>
                    <li class="payments"><a href="/payments">Payments</a></li>
                    <li class="properties"><a href="/properties">View Properties</a></li>
                    <li class="settings"><a href="/settings">Settings</a></li>
                </ul>
            </div>
        </header>

        <div>
            <div class="topright">
                <a href="/logout" style="text-decoration: none;"><p style="<%= "display: none;" if !logged_in? %>"><%= "Logged in" %></p></a>
            </div>
            <div class="topright-under">
                <p style="<%= "display: none;" if !logged_in? %>"><%= "log out" %></p>
            </div>
        </div>

        <div id="users-in-game" class="topleft">
            <div>
                <h3>Users In Game</h3>
                <ul>
                <% @users.each do |user| %>
                    <li><p><a href="/users/<%= user.id %>"><p><%= user.name %></a> - $<%= user.balance %></p></li>
                <% end %>
                </ul>
            </div>
        </div>

        <div class="center-block" id="recent-payments" style="margin-top:10%;">
            <div>
                <h3>All Properties</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Date Purchased</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Owner</th>
                        <th>Payments</th>
                    </tr>
                    </thead>
                    <tbody>
                <% if !@properties.nil? && !@properties.empty? %>    
                    <% @properties.reverse.each do |property| %>
                        <% if property != Property.find_by(auction: in_progress_auction) || property.auction == nil %>
                            <tr>
                                <td><%= property.created_at.ctime %></td>
                                <td><a href=<%= "/properties/#{property.id}" if property.name %>><%= property.name %></a></td>
                                <td>$<%= property.price %></td>
                                <td><a href="/users/<%= property.user.id if property.user %>"><%= property.user.name if property.user %></a></td>
                                <td><a href="/properties/<%= property.id %>/payments">LINK</a></td>
                            </tr>
                            <% else %>
                                <tr>
                                    <td colspan="6">This property is current involved in an auction. You can't view it.</td>
                                </tr>
                            <% end %>
                    <% end %>
                <% else %>
                <tr>
                    <td colspan="6">No properties are owned</td>
                </tr>
                <% end %>
                </tbody>
                </table>
            </div>
        </div>
    </body>
</html>