<!DOCTYPE html>
<html>
    <head>
        <title>The Monopoly Bank - Payments</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>

        <header>
            <div class="nav">
                <ul style="list-style: none; text-align: center;">
                    <li class="game-home"><a href="/game">Game Home</a></li>
                    <li class="send-money"><a href="/payments/send">Send Money</a></li>
                    <li class="auction"><a href="/auctions/new">Auction</a></li>
                    <li class="payments"><a href="/payments">Payments</a></li>
                    <li class="properties"><a href="/properties">View Properties</a></li>
                </ul>
            </div>
        </header>

        <div>
            <div class="topright">
                <a href="/logout" style="text-decoration: none;"><p style="<%= "display: none;" if !logged_in? %>"><%= "Logged in" %></p></a>
            </div>
            <div class="topright-under">
                <p style="<%= "display: none;" if !logged_in? %>"><%= "log out" %></p>
            </div>
        </div>

        <div id="users-in-game" class="topleft">
            <div>
                <h3>Users In Game</h3>
                <ul>
                <% @users.each do |user| %>
                    <li><p><a href="/users/<%= user.id %>"><p><%= user.name %></a> - $<%= user.balance %></p></li>
                <% end %>
                </ul>
            </div>
        </div>

        <div class="center-block" id="recent-payments" style="margin-top:10%;">
            <div>
                <h3>All Payments</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Payer</th>
                        <th>Payee</th>
                        <th>Property</th>
                        <th>Description</th>
                        <th>View</th>
                    </tr>
                    </thead>
                    <tbody>
                <% if !@payments.nil? && !@payments.empty? %>    
                    <% @payments.reverse.each do |payment| %>
                        <tr>
                        <% if payment != Payment.find_by(auction: in_progress_auction) || payment.auction == nil %>
                            <td><%= payment.created_at.ctime %></td>
                            <td>$<%= payment.amount %></td>
                            <td><%= payment.users[0].name %></td>
                            <td><%= payment.users[1].name %></td>
                            <td><%= payment.property.name unless payment.property.nil? %></td>
                            <td><%= payment.description %></td>
                            <td><a href="payments/<%= payment.id %>">LINK</a></td>
                        <% else %>
                            <td colspan="6">An auction for this payment is in progress</td>
                        <% end %>
                        </tr>
                    <% end %>
                <% else %>
                <tr>
                    <td colspan="7">No payments have been made</td>
                </tr>
                <% end %>
                </tbody>
                </table>
            </div>
        </div>
    </body>
</html>