<!DOCTYPE html>
<html>
    <head>
        <title>The Monopoly Bank - <%= @property.name %></title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>

        <header>
            <div class="nav">
                <ul style="list-style: none; text-align: center;">
                    <li class="game-home"><a href="/game">Game Home</a></li>
                    <li class="send-money"><a href="/payments/send">Send Money</a></li>
                    <li class="auction"><a href="/auctions/new">Auction</a></li>
                    <li class="payments"><a href="/payments">Payments</a></li>
                    <li class="properties"><a href="/properties">View Properties</a></li>
                </ul>
            </div>
        </header>

        <div>
            <div class="topright">
                <a href="/logout" style="text-decoration: none;"><p style="<%= "display: none;" if !logged_in? %>"><%= "Logged in" %></p></a>
            </div>
            <div class="topright-under">
                <p style="<%= "display: none;" if !logged_in? %>"><%= "log out" %></p>
            </div>
        </div>

        <div id="users-in-game" class="topleft">
            <div>
                <h3>Users In Game</h3>
                <ul>
                <% @users.each do |user| %>
                    <li><p><a href="/users/<%= user.id %>"><p><%= user.name %></a> - $<%= user.balance %></p></li>
                <% end %>
                </ul>
            </div>
        </div>

        <div class="center-block" id="recent-payments" style="margin-top:10%;">
            <div>
                <h1><%= @property.name %></h1>
                <% if @property != Property.find_by(auction: in_progress_auction) || @payment.auction == nil %>
                    <p>(<%= @property.updated_at %>)</>
                    <h4>Price: $<%= @property.price %></h4>
                    <h4>Owner: <a href="/users/<%= @property.user.id %>"><%= @property.user.name %> (<%= @property.user.username %>)</a></h4>
                    <h4><a href="/properties/<%= @property.id %>/payments">View Payments</a></h4>
                <% else %>
                    <h3>You can't view the information here because an auction for this property is in progress</h3>
                <% end %>
            </div>
        </div>
    </body>
</html>