<!DOCTYPE html>
<html>
    <head>
        <title>The Monopoly Bank - Payment #<%= @payment.id %></title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>

        <header>
            <div class="nav">
                <ul style="list-style: none; text-align: center;">
                    <li class="game-home"><a href="/game">Game Home</a></li>
                    <li class="send-money"><a href="/payments/send">Send Money</a></li>
                    <li class="auction"><a href="/auctions/new">Auction</a></li>
                    <li class="payments"><a href="/payments">Payments</a></li>
                    <li class="properties"><a href="/properties">View Properties</a></li>
                    <li class="settings"><a href="/settings">Settings</a></li>
                </ul>
            </div>
        </header>

        <div>
            <div class="topright">
                <a href="/logout" style="text-decoration: none;"><p style="<%= "display: none;" if !logged_in? %>"><%= "Logged in" %></p></a>
            </div>
            <div class="topright-under">
                <p style="<%= "display: none;" if !logged_in? %>"><%= "log out" %></p>
            </div>
        </div>

        <div id="users-in-game" class="topleft">
            <div>
                <h3>Users In Game</h3>
                <ul>
                <% @users.each do |user| %>
                    <li><p><a href="/users/<%= user.id %>"><p><%= user.name %></a> - $<%= user.balance %></p></li>
                <% end %>
                </ul>
            </div>
        </div>

        <div class="center-block" id="recent-payments" style="margin-top:10%;">
            <div>
                <h1>Payment #<%= @payment.id %></h1>
                <% if @payment != Payment.find_by(auction: in_progress_auction) || @payment.auction == nil %>
                    <p>(<%= @payment.created_at %>)</>
                    <h4>Amount: $<%= @payment.amount %></h4>
                    <h4>Payer: <a href="/users/<%= @payment.users[1].id %>"><%= @payment.users[1].name %> (<%= @payment.users[1].username %>)</a></h4>
                    <h4>Payee: <a href="/users/<%= @payment.users[0].id %>"><%= @payment.users[0].name %> (<%= "#{@payment.users[0].username}" unless @payment.users[1].username == "bank"%>)</a></h4>
                    <% if @payment.property %>
                        <h4>Property: <a href="/properties/<%= @payment.property.id %>"><%= @payment.property.name %></a></h4>
                    <% end %>
                    <h4>Description: <%= @payment.description %></h4>
                <% else %>
                    <h3>You can't view the information here because an auction for this payment is in progress</h3>
                <% end %>
            </div>
        </div>
    </body>
</html>